{% extends 'layouts/mainMenu.html' %}

{% block content %}

<div  class="flex justify-between items-center p-6 pt-0 pb-4 space-x-2">
    <div class="flex space-x-2">
        <button id="articleBtn" class="px-3 py-2 rounded-lg border border-[#673AB7] {% if section == 'articles' %}bg-[#673AB7] text-white{% else %}text-[#673AB7]{% endif %} font-semibold" onclick="showSection('articles')">
            Penyakit
        </button>
        <button id="medicineBtn" class="px-3 py-2 rounded-lg border border-[#673AB7] {% if section == 'medicines' %}bg-[#673AB7] text-white{% else %}text-[#673AB7]{% endif %} font-semibold" onclick="showSection('medicines')">
            Obat
        </button>
    </div>

    <div id="searchFormContainer">
        <form id="articlesSearchForm" action="{{ url_for('artikel_penyakit') }}" method="GET" class="flex items-center" {% if section != 'articles' %}style="display: none;"{% endif %}>
            <input 
                type="text" 
                name="search_query" 
                placeholder="Cari penyakit" 
                class="w-full py-2 px-3 border border-purple-400 bg-[#FFFDE7] rounded-lg focus:outline-none focus:border-purple-600"
                value="{{ search_query }}"
            />
            <input type="hidden" name="section" value="articles">
            <button type="submit" class="ml-2 p-2 rounded-lg bg-[#673AB7] text-white">
                <img src="{{ url_for('static', filename='images/svg/artikel-search.svg') }}" alt="search Logo">
            </button>
        </form>

        <form id="medicinesSearchForm" action="{{ url_for('artikel_penyakit') }}" method="GET" class="flex items-center" {% if section != 'medicines' %}style="display: none;"{% endif %}>
            <input 
                type="text" 
                name="pencarian" 
                placeholder="Cari obat" 
                class="w-full py-2 px-3 border border-purple-400 bg-[#FFFDE7] rounded-lg focus:outline-none focus:border-purple-600"
                value="{{ pencarian }}"
            />
            <input type="hidden" name="section" value="medicines">
            <button type="submit" class="ml-2 p-2 rounded-lg bg-[#673AB7] text-white">
                <img src="{{ url_for('static', filename='images/svg/artikel-search.svg') }}" alt="search Logo">
            </button>
        </form>
    </div>
</div>

<!-- Article Content Section -->
<div data-aos="fade-up" id="articlesSection" class="flex flex-col space-y-4 p-6 pt-0 pb-0" {% if section != 'articles' %}style="display: none;"{% endif %}>
    {% if articles %}
        {% if ambigu %}
            <div class="bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-3 rounded-lg relative" role="alert">
                Silakan coba kata kunci yang lebih <strong>spesifik</strong>.
            </div>

        {% endif %}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for article in articles %}
                <div class="bg-white p-6 rounded-lg border-2 border-[#B39DDB] shadow-md" 
                    data-aos="fade-up" 
                    data-aos-delay="{{ loop.index * 100 }}">  <!-- Add delay based on loop index -->
                    <p class="mb-3 p-1 pl-3 pr-3 text-xs bg-[#673AB7] text-white rounded-md inline-block">Artikel</p>
                    <h2 class="text-xl font-semibold text-black mb-2">{{ article.Name }}</h2>
                    <p class="text-gray-700">
                        {{ article.Definition.split()[:15] | join(' ') }}{% if article.Definition.split()|length > 15 %}...{% endif %}
                    </p>
                    <a href="{{ url_for('article', slug=article.slug) }}" 
                    class="block bg-[#673AB7] rounded-[14px] mt-3 py-2 px-4 text-center text-white font-semibold hover:bg-[#B39DDB] transition-colors duration-200">
                        Selengkapnya →
                    </a>
                </div>
            {% endfor %}
        </div>
        

        <!-- Pagination for Articles -->
        <div class="flex justify-center space-x-2 mt-6">
            {% if page > 1 %}
                <a href="?section={{ section }}&page={{ page - 1 }}&{% if section == 'articles' %}search_query={{ search_query }}{% else %}pencarian={{ pencarian }}{% endif %}" 
                   class="px-3 py-1 bg-gray-200 hover:bg-gray-300 rounded-md font-bold">
                    <
                </a>
            {% endif %}
        
            {% for p in pagination %}
                {% if p == '...' %}
                    <span class="px-3 py-1">...</span>
                {% else %}
                    <a href="?section={{ section }}&page={{ p }}&{% if section == 'articles' %}search_query={{ search_query }}{% else %}pencarian={{ pencarian }}{% endif %}" 
                       class="px-3 py-1 rounded-md {% if p == page %}bg-[#673AB7] text-white{% else %}bg-gray-200 hover:bg-gray-300{% endif %}">
                        {{ p }}
                    </a>
                {% endif %}
            {% endfor %}
        
            {% if page < total_pages %}
                <a href="?section={{ section }}&page={{ page + 1 }}&{% if section == 'articles' %}search_query={{ search_query }}{% else %}pencarian={{ pencarian }}{% endif %}" 
                   class="px-3 py-1 bg-gray-200 hover:bg-gray-300 rounded-md font-bold">
                    >
                </a>
            {% endif %}
        </div>        
    {% else %}
        <div class="bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-3 rounded-lg relative" role="alert">
            Penyakit tentang "{{ search_query }}" belum ditemukan. Coba cari dengan <strong>kata kunci</strong> lain. 
        </div>
    {% endif %}
</div>

<!-- Medicine Content Section -->
<div id="medicinesSection" class="flex flex-col space-y-4 p-6 pt-0 pb-0" {% if section != 'medicines' %}style="display: none;"{% endif %}>
    {% if medicines %}
        {% if ambigu %}
            <div class="bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-3 rounded-lg relative" role="alert">
                Silakan coba kata kunci yang lebih <strong>spesifik</strong>. 
            </div>

        {% endif %}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for medicine in medicines %}
                <div data-aos="fade-up" data-aos-delay="{{ loop.index * 100 }}" class="bg-white p-6 rounded-lg border-2 border-[#B39DDB] shadow-md">
                    <p class="mb-3 p-1 pl-3 pr-3 text-xs bg-[#673AB7] text-white rounded-md inline-block">Obat</p>
                    <h2 class="text-xl font-semibold text-black mb-2 break-words">{{ medicine.Nama }}</h2>
                    <p class="text-gray-700">
                        {{ medicine.Deskripsi.split()[:15] | join(' ') }}{% if medicine.Deskripsi.split()|length > 15 %}...{% endif %}
                    </p>
                    <a href="{{ url_for('medicine', slug=medicine.slug) }}" 
                       class="block bg-[#673AB7] rounded-[14px] mt-3 py-2 px-4 text-center text-white font-semibold hover:bg-[#B39DDB] transition-colors duration-200">
                        Selengkapnya →
                    </a>
                </div>
            {% endfor %}
        </div>

        <!-- Pagination for Medicines -->
        <div class="flex justify-center space-x-2 mt-6">
            {% if page > 1 %}
                <a href="?section={{ section }}&page={{ page - 1 }}&{% if section == 'medicines' %}search_query={{ search_query }}{% else %}pencarian={{ pencarian }}{% endif %}" 
                   class="px-3 py-1 bg-gray-200 hover:bg-gray-300 rounded-md font-bold">
                    <
                </a>
            {% endif %}
        
            {% for p in pagination %}
                {% if p == '...' %}
                    <span class="px-3 py-1">...</span>
                {% else %}
                    <a href="?section={{ section }}&page={{ p }}&{% if section == 'medicines' %}search_query={{ search_query }}{% else %}pencarian={{ pencarian }}{% endif %}" 
                       class="px-3 py-1 rounded-md {% if p == page %}bg-[#673AB7] text-white{% else %}bg-gray-200 hover:bg-gray-300{% endif %}">
                        {{ p }}
                    </a>
                {% endif %}
            {% endfor %}
        
            {% if page < total_pages %}
                <a href="?section={{ section }}&page={{ page + 1 }}&{% if section == 'medicines' %}search_query={{ search_query }}{% else %}pencarian={{ pencarian }}{% endif %}" 
                   class="px-3 py-1 bg-gray-200 hover:bg-gray-300 rounded-md font-bold">
                    >
                </a>
            {% endif %}
        </div>
        
    {% else %}
        <div class="bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-3 rounded-lg relative" role="alert">
            Obat tentang "{{ pencarian }}" belum ditemukan. Coba cari dengan <strong>kata kunci</strong> lain.        
        </div>
    {% endif %}
</div>


<script>
    function showSection(section) {
        // Redirect to the same route with updated section
        window.location.href = "{{ url_for('artikel_penyakit') }}" + "?section=" + section;
    }

    // Highlight the active button when the page loads
    document.addEventListener('DOMContentLoaded', function() {
        const articleBtn = document.getElementById('articleBtn');
        const medicineBtn = document.getElementById('medicineBtn');
        const section = "{{ section }}";

        if (section === 'articles') {
            articleBtn.classList.add('bg-[#673AB7]', 'text-white');
            medicineBtn.classList.remove('bg-[#673AB7]', 'text-white');
            medicineBtn.classList.add('text-[#673AB7]');
        } else if (section === 'medicines') {
            medicineBtn.classList.add('bg-[#673AB7]', 'text-white');
            articleBtn.classList.remove('bg-[#673AB7]', 'text-white');
            articleBtn.classList.add('text-[#673AB7]');
        }
    });
</script>

{% endblock %}
