{% extends 'layouts/mainMenu.html' %}

{% block content %}
    <div class="p-6 pt-2 pb-2 space-y-4">
        <!-- Sidebar with Search Bar -->
        <div class="w-full md:w-1/4 mb-4 md:mb-0 md:ml-auto">
            <form action="{{ url_for('artikel_penyakit') }}" method="GET" class="flex items-center">
                <input 
                    type="text" 
                    name="search_query" 
                    placeholder="Cari artikel" 
                    class="w-full py-2 px-4 border border-purple-400 rounded-lg focus:outline-none focus:border-purple-600"
                    value="{{ request.args.get('search_query', '') }}"
                />
                <button type="submit" class="ml-2 p-2 rounded-lg bg-[#673AB7] text-white">
                    <img src="{{ url_for('static', filename='images/svg/artikel-search.svg') }}" alt="search Logo" >
                </button>
            </form>
        </div>

        <!-- Header Content -->
        <div class="flex flex-col sm:flex-row justify-between sm:space-x-10 ">
            {% if articles %}
                <div class="space-y-4">
                    <h1 class="text-3xl font-semibold ">{{ articles.Name }}</h1>
                    <p class="text-justify">{{ articles.Definition }}</p>
                    
                    <h2 class="text-xl font-semibold">Penyebab</h2>
                    {% if articles.Causes|length == 1 %}
                        <p class="text-justify">{{ articles.Causes[0] }}</p> <!-- Display as a paragraph if only one item -->
                    {% else %}
                        <ul class="space-y-1 text-justify">
                            {% for symptom in articles.Causes %}
                                <li class="flex items-center space-x-4 text-justify">
                                    <span>{{ loop.index }}. {{ symptom }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    
                    
                    <h2 class="text-xl font-semibold ">Gejala</h2>
                    <p class="text-justify">Gejala {{ articles.Name }} antara lain:</p>
                    
                    <ul class="space-y-1 ">
                        {% for symptom in articles.Symptoms %}
                            <li class="flex items-center space-x-4">
                                <span>{{ loop.index }}. {{ symptom }}</span>
                            </li>
                        {% endfor %}
                    </ul>

                    <h2 class="text-xl font-semibold ">Komplikasi</h2>
                    <p class="text-justify">Gejala {{ articles.Name }} antara lain:</p>
                    
                    <ul class="space-y-1 ">
                        {% for symptom in articles.Symptoms %}
                            <li class="flex items-center space-x-4">
                                <span>{{ loop.index }}. {{ symptom }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                    <h2 class="text-xl font-semibold ">Sumber</h2>
                    <p class="text-justify">{{ articles.Sumber }}</p>

                </div>
            {% else %}
                <p>No articles found for</p>
            {% endif %}

            <!-- Recommended Artikel -->
            {% if recommend %}
                <div class="flex-col space-y-6 mt-2">
                    <h1 class="text-2xl font-semibold ">Artikel Lain</h1>
                    {% for article in recommend %}
                    <div class="bg-white p-6 rounded-[14px] border-2 border-[#B39DDB] shadow-md w-full lg:w-[393px] ">
                        <p class="mb-3 p-1 pl-3 pr-3 text-xs bg-[#673AB7] text-white rounded-md inline-block">Artikel</p>
                        <h2 class="text-xl font-semibold text-black mb-2">{{ article.Name }}</h2>
                        
                        <p class="text-gray-700">
                            {{ article.Definition.split()[:15] | join(' ') }}{% if article.Definition.split()|length > 15 %}...{% endif %}
                        </p>
                        
                        <!-- Entire div as a clickable link -->
                        <a href="{{ url_for('article', slug=article.slug) }}" 
                           class="block bg-[#673AB7] rounded-[14px] mt-3 py-2 px-4  text-center text-white font-semibold hover:bg-[#B39DDB] transition-colors duration-200">
                            Selengkapnya →
                        </a>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No articles found for</p>
            {% endif %}
        </div>
        <h1 class="text-3xl font-semibold ">Saran Obat</h1>

        <!-- Medicine Content Section -->
        {% if medicines %}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for medicine in medicines %}
                <div class="bg-white p-6 rounded-lg shadow-md">
                    <p class="mb-3 p-1 pl-3 pr-3 text-xs bg-[#673AB7] text-white rounded-md inline-block">Obat</p>
                    <h2 class="text-xl font-semibold text-black mb-2">{{ medicine.get('Nama', 'Nama Tidak Tersedia') }}</h2>
                    <p class="text-gray-700">
                        {{ medicine.get('Deskripsi', '').split()[:15] | join(' ') }}{% if medicine.get('Deskripsi', '').split()|length > 15 %}...{% endif %}
                    </p>
                    <a href="{{ url_for('medicine', slug=medicine.get('slug', '#')) }}" 
                    class="block bg-[#673AB7] rounded-[14px] mt-3 py-2 px-4 text-center text-white font-semibold hover:bg-[#B39DDB] transition-colors duration-200">
                        Selengkapnya →
                    </a>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <p id="Search Google">Saat ini informasi rekomendasi obat belum tersedia.</p>
        
        {% endif %}


    </div>
    
{% endblock %}
