{% extends 'layouts/mainMenu.html' %}

{% block content %}
<body class="flex justify-center items-center min-h-screen bg-gray-100">
    <div class="max-w-2xl w-full p-6 bg-white rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-4 text-center text-[#673AB7]">Prediksi Penyakit: {{ disease }}</h2>

        <section>
            <h3 class="text-xl font-semibold text-gray-700">Deskripsi</h3>
            <p class="text-gray-600">{{ description }}</p>
        </section>

        <section class="mt-4">
            <h3 class="text-xl font-semibold text-gray-700">Tindakan Pencegahan</h3>
            <ol class="list-decimal ml-5 text-gray-600">
                {% for precaution in precautions %}
                    <li>{{ precaution }}</li>
                {% endfor %}
            </ol>
        </section>

        <section class="mt-4">
            <h3 class="text-xl font-semibold text-gray-700">Pengobatan</h3>
            <ol class="list-decimal ml-5 text-gray-600">
                {% for medication in medications %}
                    <li>{{ medication }}</li>
                {% endfor %}
            </ol>
        </section>

        <section class="mt-4">
            <h3 class="text-xl font-semibold text-gray-700">Saran Olahraga</h3>
            <ol class="list-decimal ml-5 text-gray-600">
                {% for exercise in workout %}
                    <li>{{ exercise }}</li>
                {% endfor %}
            </ol>
        </section>

        <section class="mt-4">
            <h3 class="text-xl font-semibold text-gray-700">Rekomendasi Pola Makan</h3>
            <ol class="list-decimal ml-5 text-gray-600">
                {% for item in diet %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ol>
        </section>        
    </div>
</body>
{% endblock %}
