{% extends 'layouts/mainGuest.html' %}

{% block content %}
<div class="space-y-6">
    <!-- Slideshow Section with Transparent Background -->
    <div class="p-6 flex justify-center bg-[#673AB7] rounded-none md:rounded-xl shadow-lg w-fit mx-auto border">
        <div class="bg-[#B39DDB] flex flex-col items-center p-4 pl-6 pr-6 rounded-xl shadow-lg w-full">
            <!-- Teks Informasi -->
            <div class="flex-1 text-white text-center">
                <p class="text-lg font-semibold">
                    Masih bingung dengan gejala atau kondisi kesehatan Anda? Chat Bot aja!
                </p>
            </div>
    
            <!-- Gambar Robot dan Tombol -->
            <div class="flex flex-col md:flex-row md:justify-between items-center w-full mt-4">
                <img src="{{ url_for('static', filename='images/svg/home-robot.svg') }}" alt="home-robot" class="w-16 h-16 md:w-24 md:h-24">
                <a href="{{ url_for('wawasan') }}" class="px-4 py-2 bg-white text-[#673AB7] font-semibold rounded-full shadow-md text-center hover:bg-[#673AB7] hover:text-white transition duration-300 ease-in-out">
                    Mulai Obrolan
                </a>
            </div>
        </div>
    </div>
    
    </div>

    <div class="flex flex-col md:flex-row py-4 px-16 md:space-x-16">
        <div class="space-y-4 md:max-w-3xl text-justify">
            <h1 class="text-3xl font-semibold">Aplikasi Kami</h1>
            <div class="text-md space-y-4">
                <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Ante dapibus fermentum; et faucibus ex quam. 
                    Finibus nam facilisis nunc nisi non placerat et posuere. Nulla quam vestibulum conubia ad convallis! 
                    Quisque primis blandit nibh vestibulum est adipiscing donec platea. Imperdiet vitae fames sollicitudin non nulla lectus pretium taciti.
                     Finibus interdum feugiat ullamcorper ipsum porttitor mattis lacus. Velit suspendisse fames netus risus, condimentum per facilisi. 
                    Massa morbi parturient elementum nibh tempor habitasse. Facilisi sit laoreet ut nisi massa vehicula nullam nisl id.</p>
                <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Ante dapibus fermentum; et faucibus ex quam. 
                    Finibus nam facilisis nunc nisi non placerat et posuere. Nulla quam vestibulum conubia ad convallis! 
                    Quisque primis blandit nibh vestibulum est adipiscing donec platea. Imperdiet vitae fames sollicitudin non nulla lectus pretium taciti.
                     Finibus interdum feugiat ullamcorper ipsum porttitor mattis lacus. Velit suspendisse fames netus risus, condimentum per facilisi. 
                    Massa morbi parturient elementum nibh tempor habitasse. Facilisi sit laoreet ut nisi massa vehicula nullam nisl id.</p>
                <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Ante dapibus fermentum; et faucibus ex quam. 
                    Finibus nam facilisis nunc nisi non placerat et posuere. Nulla quam vestibulum conubia ad convallis! 
                    Quisque primis blandit nibh vestibulum est adipiscing donec platea. Imperdiet vitae fames sollicitudin non nulla lectus pretium taciti.
                     Finibus interdum feugiat ullamcorper ipsum porttitor mattis lacus. Velit suspendisse fames netus risus, condimentum per facilisi. 
                    Massa morbi parturient elementum nibh tempor habitasse. Facilisi sit laoreet ut nisi massa vehicula nullam nisl id.</p>
                <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Ante dapibus fermentum; et faucibus ex quam. 
                    Finibus nam facilisis nunc nisi non placerat et posuere. Nulla quam vestibulum conubia ad convallis! 
                    Quisque primis blandit nibh vestibulum est adipiscing donec platea. Imperdiet vitae fames sollicitudin non nulla lectus pretium taciti.
                     Finibus interdum feugiat ullamcorper ipsum porttitor mattis lacus. Velit suspendisse fames netus risus, condimentum per facilisi. 
                    Massa morbi parturient elementum nibh tempor habitasse. Facilisi sit laoreet ut nisi massa vehicula nullam nisl id.</p>
            </div>
        </div>

        <!-- Artikel Kesehatan -->
        {% if articles %}
        <div class="mt-2 w-full max-w-md">
            <h1 class="text-2xl font-semibold mb-6">Artikel Kesehatan</h1>
            
            <!-- Stack articles vertically -->
            <div class="space-y-6">
                {% for article in articles %}
                <div class="bg-white p-6 rounded-[14px] border-2 border-[#B39DDB] shadow-md w-full">
                    <p class="mb-3 p-1 pl-3 pr-3 text-xs bg-[#673AB7] text-white rounded-md inline-block">Artikel</p>
                    <h2 class="text-xl font-semibold text-black mb-2">{{ article.Name }}</h2>
                    
                    <p class="text-gray-700">
                        {{ article.Definition.split()[:15] | join(' ') }}{% if article.Definition.split()|length > 15 %}...{% endif %}
                    </p>
                    
                    <!-- Seluruh div sebagai link -->
                    <a href="{{ url_for('article', slug=article.slug) }}" 
                    class="block bg-[#673AB7] rounded-[14px] mt-3 py-2 px-4 text-center text-white font-semibold hover:bg-[#B39DDB] transition-colors duration-200">
                        Selengkapnya →
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <p>Tidak ada artikel ditemukan</p>
        {% endif %}
    </div>
</div>
{% endblock %}
